<style></style>
{% extends "base.html" %}
{% block title %}logon{% endblock %}
{% block content %}
    <div class="main-div-login">
        <div class="login-form-big">
            <div class="login-form">
                <h1><p class="login-name">Log-in</p></h1>
                <form action="{% url 'login' %}" method="post">
                    <div class="login">
                        <input type="text" name="username" id="username" placeholder="Login or e-mail"/>
                    </div>
                    <div class="password">
                        <input type="password" name="password" id="password" placeholder="Password"/>
                    </div>
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}"/>
                    <div class="btn_div">
                        <button class="btn " type="submit">Sign in</button>
                    </div>
                </form>
                <p><a href="{% url "password_reset" %}">Forgotten your password?</a></p>
            </div>
        </div>
        <div class="errors">
            {% if form.errors %}
                <p>Your username and password didn't match.Please try again.</p>
            {% else %}
                <p>Please, use the following form to log-in. If you don't have an account
                    <a href="{% url "register" %}">register here</a></p>
            {% endif %}
        </div>
    </div>

{% endblock %}



