{% load static %}
<!DOCTYPE html>
<html>

<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
<link href="{% static "css/main.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "css/login.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "css/edit_profile.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "css/change_pass.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "css/dashboard.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "css/register.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "css/edit_event.css" %}" rel="stylesheet" type="text/css">

<head>

    <title>{% block title %}{% endblock %}</title>
    <div class="head-div">

        {% if request.user.is_authenticated %}
            <p class="hello-username">Hello, {{ request.user.first_name }} !</p>
            {% if request.user.is_authenticated %}
                <button class="top-menu-btn" type="button" onclick="location.href='{% url "dashboard" %}'">
                    My dashboard
                </button>
                <button class="top-menu-btn" type="button" onclick="location.href='{% url "edit" %}'">
                    Edit your profile
                </button>
                <button class="top-menu-btn" type="button" onclick="location.href='{% url "password_change" %}'">
                    Change your password
                </button>
            {% endif %}
            <button class="btn-login-logout" type=button onclick="location.href='{% url "logout" %}'">
                Logout
            </button>
        {% else %}
            <button class="btn-login-logout" type="button" onclick="location.href='{% url "login" %}'">
                Log-in
            </button>
        {% endif %}
        <div class="message-info">
            {% if messages %}
                {% for message in messages %}
                    <li class="{{ message.tags }}">
                        {{ message|safe }}
                        <a href="#" class="close">x</a>
                    </li>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</head>
<body>
{% block content %}
{% endblock %}
</body>
<div class="date">
    {% block data %}
    {% endblock %}
</div>
<div class="date-of-company">
    <p class="text-muted">&copy; 2017-2020</p>
</div>
</html>