<style></style>
{% extends "base.html" %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

{% block title %}My events{% endblock %}
{% block content %}
    <div class="all-content-div">
        <div class="dashboard-div">
            <p class="name-dash">My events</p>
        </div>
        <div class="div-g-map">

        </div>
        <div class="div-g-map-edit-content">
            <button class="btn-edit-content" type=button onclick="location.href='{% url "edit_event" %}'">Edit</button>
            <button class="btn-del-content" type=button onclick="location.href='{% url "delete_event" %}'">Delete
            </button>
        </div>

    </div>
{% endblock %}