<style></style>
{% extends "base.html" %}
{% block title %}Edit your account{% endblock %}
{% block content %}
    <div class="main-div-login-edit-profile">
        <div class="login-form-big">
            <div class="login-form-edit-profile">
                <h1 class="login-name">Edit your account</h1>
                <form action="." method="post" enctype="multipart/form-data">
                    {{ user_form.as_p }}
                    {{ profile_form.as_p }}
                    {% csrf_token %}
                    <button class="btn" type="submit" >Save changes</button>
                </form>
            </div>
        </div>
    <p class="errors">You can edit your account using the following form:</p>
    </div>
{% endblock %}